body {
    background-color: #E9E9E9;
}

h1 {
//  text-decoration: underline;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 5px;

  padding: 5px 0px;
}

h2 {
  font-size: 17px;
}

ul {
  margin-left: 20px;
}

.h2section {
  margin-left: 40px;
}

.tocheader {
  font-size: 4em;
  font-weight: bold;
  padding-bottom: 20px;
}

/*.note {
  background-color: #afceff;
  border-style: solid;
  border-color: black;
  border-size: 1px;
  padding: 5px;
  border-radius: 5px;
}*/

.note {
  background-color: #000000;
  color: #7DFDFE;
  border: 1px solid #7DFDFE;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 8px 1px #7DFDFE inset;
}

.red {
  color: red;
}

.green {
  color: #08FF00;
}

code {
  background-color: white;
  border-radius: 10px;
  padding: 2px 5px;
}

/*Preformatted boxes*/
.preboxcontainer {
  max-width: 940px;
  background: #000000;
  border-radius: 10px;
  margin-bottom: 20px;
}

pre.prebox {
  border: 1px solid black;
  background: #000000;
  max-width: 940px;
  overflow-x: auto;
  color: #B6B6B4;
  white-space: pre;
  word-wrap: normal;
  padding: 8 15px;
  line-height: 20px;
  border-radius: 10px;
 }

.server {
  color:#7DFDFE;
}

.command {
  color:white;
}


.cmdoutput {
  color:#B6B6B4;
}
